body{
	font-family: arial;
	text-align: center;
}
.boton{
	width: 20%;
	height: 50px;
	color: black;
	border-radius: 15px;
	border: 3px solid white;
}

.image{
}

.text{
	width: 80%;
	color: black;
	border-radius: 16px;
}

#profile{
	position:absolute; 
	top: 2%;
	left: 2%;
}

#history{
	position:absolute; 
	top: 2%;
	right: 2%;
}

#messages{
	position:absolute; 
	bottom: 2%;
	right: 2%;
}

#config{
	position:absolute; 
	bottom: 1%;
	left: 1%;
	width: 80px;
}

#workinfo{
	position: absolute;
	top: 60%;
	left: 40%;
}

#likedjob{
	position: absolute;
	top: 60%;
	left: 60%;
}

#checkedjob{
	position: absolute;
	top: 70%;
	left: 55%;
}

#dislikedjob{
	position: absolute;
	top: 70%;
	left: 45%;
}

#goback{
	position: absolute;
	top: 0;
	left: 0;
}

#enzochat{
	position: absolute;
	left: 1%;
	top: 20%;
	border: 3px solid gray;
	background-color: gray;
}

#yourchat{
	position: absolute;
	right: 1%;
	top: 30%;
	border: 3px lightgray;
	background-color: lightgray;
}